body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1f2223;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background: #181a1b;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #FFA500;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.about-me {
    background: #181a1b;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    color: #FFA500;
}

.about-me a {
    color: #FFA500;
    text-decoration: #FFA500 underline;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.gallery, .music {
    background: #181a1b;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.gallery h2, .music h2 {
    color: #FFA500;
}
.photos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.photos img {
    width: 30%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photos img:hover {
    transform: scale(1.05);
}

.track p {
    margin-bottom: 15px;
    cursor: pointer;  
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.track p:hover {
    color: #FFA500; 
    text-shadow: 0 0 1px #FFA500;
}



audio {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #FFA500;
    border-radius: 12px;
    background: #1f2223;
    box-shadow: 0 2px 8px rgba(255, 140, 0, 0.15);
    outline: none;
    transition: box-shadow 0.3s;
}

audio:focus, audio:hover {
    box-shadow: 0 4px 16px rgba(255, 140, 0, 0.25);
    border-color: #CC7000;
}

footer {
    text-align: center;
    padding: 10px;
    background: #191a1b;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; top: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
}
.modal-content {
  background: #222;
  color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  text-align: center;
}
.close-btn {
  position: absolute;
  right: 15px; top: 10px;
  font-size: 24px;
  cursor: pointer;
}